# Binaries
bin/
!bin/.gitkeep

# Dependencies
node_modules/
go.sum

# Build artifacts
*.exe
*.dll
*.so
*.dylib

# Test files
*.test
*.out

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.agent
.github

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

arjunanda-data-engine-*.tgz

# Environment
.env
.env.local
